<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Project</title>

    <style>
        .hidden{
            display: none;
        }
        select{
            display: block;
        }
        .tag-display{
            background-color: bisque;
        }
        #container{
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
            font-size: 1em;
        }
        select{
            font-size: 1em;
            margin-bottom: 5px;
        }
        #tag-display{
            padding: 1em;
            min-height: 5em;
            visibility:hidden;
        }
    </style>
</head>
<body>

<div id="container">
    <div id="tag-display" class="tag-display"></div>

    <label for="select-standard" class="select-standard">Education Standard</label>
    <select id="select-standard" class="select-standard">
        <option value="">Select a Standard</option>
    </select>

    <label for="select-grade" class="select-grade hidden">Grade Level</label>
    <select id="select-grade" class="select-grade hidden">
        <option value="">Select a Grade Level</option>
    </select>

    <label for="select-domain" class="select-domain hidden">Learning Domain</label>
    <select id="select-domain" class="select-domain hidden">
        <option value="">Select a Learning Domain</option>
    </select>

    <label for="select-tag" class="select-tag hidden">Alignment Tag</label>
    <select id="select-tag" class="select-tag hidden">
        <option value="">Select an Alignment Tag</option>
    </select>
</div>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    let api_url = "{% url 'alignment_tags:levels' %}";

    let selectHierarchyMap = {
        "select-standard": "select-grade",
        "select-grade": "select-domain",
        "select-domain": "select-tag"
    };

    let levelTypeToSelectorMap = {
        "STANDARD": "select-standard",
        "GRADE": "select-grade",
        "LEARNING_DOMAIN": "select-domain",
        "TAG": "select-tag"
    };

    let elements = {
        "select-standard": $("#select-standard"),
        "select-grade": $("#select-grade"),
        "select-domain": $("#select-domain"),
        "select-tag": $("#select-tag"),
        "tag-display": $("#tag-display")
    };

    function hideAndClearChildrenSelects(id) {
        elements["tag-display"].text("").css("visibility", "hidden");

        while (true){
            id = selectHierarchyMap[id];

            if (id === undefined) {
                return
            }

            $('.'+id).hide();

            elements[id].find("option[value!='']").remove();
        }
    }

    function fillSelects(parent){
        $.getJSON( api_url, {"parent": parent}, function( data ) {
            $.each(data, function(idx, item) {
                let jqEl = elements[levelTypeToSelectorMap[item.type]];
                let text = (item.description ? (item.value + " - " + item.description)  : item.value);
                jqEl.append(
                    $('<option>',{ "value" : item.id, "data-value": item.value, "data-description": item.description, "data-type": item.type }).text(text));
                $("."+levelTypeToSelectorMap[item.type]).show();

            });
        });
    }

    function onChange(ev) {
        let self = this;
        let selected = $(this).find("option:selected");
        let parent = selected.val();

        hideAndClearChildrenSelects(self.id);

        if (!parent){
            return
        }

        if (selected.data("type") === "TAG"){
            let standard = elements["select-standard"].find('option:selected').text();
            let code = selected.data("value");
            let description = selected.data("description");
            let grade = elements["select-grade"].find('option:selected[value!=""]').text();
            let learning_domain = elements["select-domain"].find('option:selected[value!=""]').text();
            let html = "<strong>"+standard+"</strong><br>Code: <strong>"+code+"</strong>";

            if (grade){
                html += "<br>Grade: <strong>"+grade+"</strong>";
            }
            if (learning_domain){
                html += "<br>Learning Domain: <strong>"+learning_domain+"</strong>";
            }
            if (description) {
                html += "<br>"+description;
            }

            elements["tag-display"].html(html);
            elements["tag-display"].css("visibility", "visible");
            return
        }

        fillSelects(parent);
    }

    $(function () {
        $("select").change(onChange);
        fillSelects(null);
    });
</script>

</body>
</html>
